*, html, body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Slack';
    color: white;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;

    background-color: #E8C4B1;
}

img.profile-image {
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;  

    width: 32em;
}
